
<h1>About us</h1>
<p> Testing</p>

<div>
	<button class="btn btn-danger"><i class="fa fa-trash-o"></i> Delete</button>
</div>

<button class="btn btn-facebook"><i class="fa fa-facebook"></i> | Connect with Facebook</button>

<a href="#" class='social'>
                  <i class="fa fa-linkedin fa-2x"></i></a>


                  <h1>Hovers from <a target="_blank" href="http://www.popagency.com/">pop</a></h1>

<a href="#" class="box">
  <h2><span> A -</span> Text box 1</h2>
  <h3>Monday</h3>
</a>
<a href="#" class="box">
  <h2><span>B -</span> Text box 2 </h2>
  <h3>Tuesday</h3>
</a>
<a href="#" class="box">
  <h2><span>C -</span> Text Box 3</h2>
  <h3>Wednesday</h3>
</a>
<a href="#" class="box">
  <h2><span>D -</span> Text Box 4 </h2>
  <h3>Thursday</h3>
</a>