<div class="jumbotron center">
	<h1>Ronald Ho's rape dungeon!</h1>
	<p>
		<%= link_to "Be Lured", "#", class: "btn btn-default btn-lg" %>
		<%= link_to "Get Raped", "#", class: "btn btn-primary btn-lg" %>
	</p>
</div>